@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap");
* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  }
.btn_poke{
    background-color: rgb(56, 75, 49);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 200px;
}
.poke_list{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}
.pokemon-button{
    border: none;
    text-transform: capitalize;
    font-size: 18px;
}
.pokemon-button:hover{
    cursor: pointer;
    /* opacity: 0.85; */
    /* color: white; */
    background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
}
.list-group-item{
    border: none;
}
.modal-img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right:20px;
}
.modal-title {
    text-transform: capitalize; 
    font-weight: bold;
  }
@media all and (max-width: 500px) {
    .poke_list{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 500px;
    }
    }
@media all and (min-width: 500px) and (max-width: 700px) {
        .poke_list{
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          width: 500px;
        }
    }

@media all and (min-width: 700px) and (max-width: 900px) {
        .poke_list{
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          width: 500px;
        }
    }