@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap");
  body {
    /* background-color: antiquewhite; */
    font-family: 'Rubik', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.navbar{
    background-color: rgb(56, 75, 49);
    line-height: 1;
}
.navbar-brand{
    font-size: 50px;
    line-height: 1.5;
}
/* .poke_list{
    list-style-type: none;
    padding: 0;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1600px;
} */
.list-group-item{
    border: none;
}
 .pokemon-button, .pokemon-button:focus{
   padding: 20px 10px; 
    font-size: 1.2rem;
    border: none; 
    background-color:rgb(56, 75, 49);
    border-radius: 3px;
    /* margin: 10px; */
    width: 200px;
    transition: 0.4s background-color;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.pokemon-button:hover{
    cursor: pointer;
    background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
   
}  
.modal-img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right:20px;
}